# Ignore environment variables
.env

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore access key files
*.csv
RAG-LLM_accessKeys.csv

# Ignore other common files
*.log
*.sqlite3
*.db
*.DS_Store 